.failed { color:red }

body {
  background-color: #333;
}

p {
	color: white;
}

.navbar {
	text-align: center;
	padding: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}



.navlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	display: none;
}

.navitem {
	text-align: center;
    margin: 15px auto;
}

.navitem a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
}

.navitem a:hover {
	background-color: #555;
}

.active {
  background-color: #4CAF50;
  display: block;
}



.myborder {
	border-style: hidden;
	padding: 50px;
}

td
{
    padding:0 15px 0 15px;
    color: white;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .navlist {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .navitem {
        margin: 0;
    }
   .navbar-toggle {
       display: none;
    }
    
}
